body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
:root {
    --font-family: "Outfit";
    --heading-font-family:"Playfair Display"
}
h1, h2,p{color: #696969;}
/*Header-section*/
.header-section-tablet{display: none;}
.logo h3{font-family: var(--heading-font-family);
-webkit-text-stroke: 1px #996830;
color:#fff;
font-size: 25px;
}
.logo-active{font-family: var(--heading-font-family);
color: #996830;
font-size: 25px;}
.header-section{display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 20px 20px;
width: 90%;}
.btn-nav{
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
   background-color: #996830;
   border-radius: 5px;
   border: none;
  width: 100px;
  color: #fff;
}
.btn-nav a{font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
color: #fff;
text-decoration: none;}
.btn-nav:hover{background-color:#DEB887;box-shadow: 0px 10px 13px -7px #000000, 6px 11px 24px 11px rgba(0, 0, 0, 0.14);}
/*Main-section*/
.main-article h1{font-family: var(--heading-font-family);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
text-align: center;}
.main-article p{font-family:var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
text-align: center;}
.main-article {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 20px;}
.current-text{font-style: italic;}
.background-main{background: url("../images/background-main.png");
width: 100%;
height: 640px;
background-size: cover;
background-repeat: no-repeat;}
/*About-us-section*/
.about-us-desktop{display: none;}
.about-us-tablet{display: none;}
.heading-with-dash{display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap:16px}
.heading-with-dash h3{font-family:var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.4px;
    color: #996830;
    text-transform: uppercase;
-webkit-text-stroke: 1px #996830;
    color: #fff;}
.heading-with-dash .dash{background-color: #996830;
height: 1px;
width: 64px;
border-radius: 5px;}
.about-us-mobile{padding: 30px 20px;}
.about-us-mobile h2{font-family: var(--heading-font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    text-align: center;}
.about-us-img{display: flex;
flex-direction: row;
gap: 10px;
margin-top: 80px;
justify-content: center;}
.second-img{margin-top: 42px;}
.sub-article-about{display: flex;
flex-direction: column;
justify-content: center;}
.sub-article-about ul{padding: 0;
}
.sub-article-about li{font-family: var(--heading-font-family);
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    list-style: none;
    -webkit-text-stroke: 1px#987654;
        color: #fff;}
.text-clients{font-family:var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.7px;
     text-transform: uppercase;
     font-style: italic;
    }
    .dash-svg{width: 100%;}

@media screen and (min-width: 768px) {
    .header-section-tablet{display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 20px 40px;
        width: 90%;}
    .header-section{display: none;}
    .nav-tablet{display: flex;
    flex-direction: row;
gap: 20px;}
   .nav-tablet li{list-style-type: none;
}
    .nav-tablet ul{display: flex;
    flex-direction: row;
    gap: 40px;}
    .nav-tablet li:hover{color: #996830;text-shadow: #DEB887 1px 0 10px;
       }
    .nav-tablet a{text-decoration: none;
    font-family: var(--font-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    color: #000000;}
          .header-section-tablet .logo h3 {
               font-family: var(--heading-font-family);
               -webkit-text-stroke: 1px #996830;
               color: #fff;
               font-size: 28px;
           }
    
          .header-section-tablet .logo-active {
               font-family: var(--heading-font-family);
               color: #996830;
               font-size: 28px;
           }
         .header-section-tablet .btn-nav a{color: #fff;}
         .tablet h1{font-family: var(--heading-font-family);
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 72px;
            text-align: center;}
         .about-us-mobile{display: none;}
         .about-us-desktop{display: none;}
         .about-us-tablet{display: block;}
                 .about-us-tablet .heading-with-dash h3 {
                     font-family: var(--font-family);
                     font-size: 20px;
                     font-style: normal;
                     font-weight: 600;
                     line-height: 20px;
                     letter-spacing: 1.4px;
                     color: #996830;
                     text-transform: uppercase;
                     -webkit-text-stroke: 1px #996830;
                     color: #fff;
                 }
        
                         .about-us-tablet .heading-with-dash .dash {
                     background-color: #996830;
                     height: 1px;
                     width: 64px;
                     border-radius: 5px;
                 }
        
                 .about-us-tablet {
                     padding: 90px 40px;
                 }
        
                 .about-us-tablet h2 {
                     font-family: var(--heading-font-family);
                     font-size: 40px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 72px;
                     text-align: center;
                 }
        
                 .about-us-tablet   .about-us-img {
                     display: flex;
                     flex-direction: row;
                     gap: 10px;
                     margin-top: 80px;
                     justify-content: center;
                 }
        
                .about-us-tablet .second-img {
                     margin-top: 42px;
                 }
        
                 .about-us-tablet .sub-article-about {
                     display: flex;
                     flex-direction: row;
                     justify-content: center;
                     margin-top: 96px;
                 }
        
                                .about-us-tablet  .sub-article-about ul {
                     padding: 0;
                     display: flex;
                     flex-direction: row;
                     justify-content: center;
                     align-items: center;
                     gap: 40px;
                 }
        
                                 .about-us-tablet .sub-article-about li {
                                    display: flex;
                                    flex-direction: column;
                                    gap:15px;
                     font-family: var(--heading-font-family);
                     font-size: 60px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 60px;
                     list-style: none;
                     -webkit-text-stroke: 1px#987654;
                     color: #fff;
                 }
        
                                .about-us-tablet  .text-clients {
                     font-family: var(--font-family);
                     font-size: 18px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 20px;
                     letter-spacing: 0.7px;
                     text-transform: uppercase;
                     font-style: italic;
                 }
}
@media screen and (min-width: 1158px) {
    .desktop h1{font-family: var(--heading-font-family);
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -1.5px;
        text-align: center;}
    .about-us-mobile{display: none;}
    .about-us-tablet{display: none;}
    .about-us-desktop{display: block;}
    .about-us-desktop .text-with-photo-about{display: flex;
    flex-direction: row;
gap: 40px;}
    .about-us-desktop{padding: 120px 100px;}
    .about-us-desktop h2{font-family:var(--heading-font-family);
        color: #696969;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -1.5px;
    text-align: center;}
    .about-us-desktop .sub-article-about{display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top:120px;}
    .about-us-desktop .sub-article-about ul{padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 90px;}
                .about-us-desktop .sub-article-about li {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    font-family: var(--heading-font-family);
                    font-size: 60px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 60px;
                    list-style: none;
                    -webkit-text-stroke: 1px#987654;
                    color: #fff;
                }
        
                .about-us-desktop .text-clients {
                    font-family: var(--font-family);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.7px;
                    text-transform: uppercase;
                    font-style: italic;
                }
}
    
